body {
	font-family: "Arial";
	font-size: 1em;
}
#images {
	display: block;
	margin: auto;
	text-align: center;
	width: 70em;
}
.poke {
	display: inline-block;
	padding: 0.5em;
	margin: 0.2em 0.1em;
}
.poke img, .poke input, .poke button {
	display: block;
	margin: auto;
}
.poke input {
	width: 2.3em;
	height: 1.1em;
	text-align: center;
	border: none;
	font-size: 1.8em;
	font-weight: bold;
	font-family: "Arial Black";
	background: transparent;
}
.poke input:focus {
	color: #F00;
}
button {
	font-size: 0.8em;
	cursor: pointer;
}
.poke .pnumb {
	position: absolute;
	color: #F00;
	font-weight: bold;
	background: #FFF;
	padding: 0.05em 0.2em;
}
.poke .pname {
	display: block;
}
.poke .offbutton {
	display: none;
}
textarea {
	display: inline-block;
	width: 45%;
	height: 30em;
	padding: 0.7em 1em;
}
.controls {
	font-size: 1em;
	font-weight: bold;
	padding: 0.5em 1em;
	margin: 0.5em;
}
.controls:hover {
	color: #F00;
	position: relative;
	top: -1px;
	right: -1px;
}
.controls[disabled] {
	color: #999;
	text-decoration: line-through;
}
.legendaries {
	background: #FFE6E6;
}
.eggs {
	background: #E6FFE6;
}
.evolves {
	background: #F0D9FF;
}
.disabled {
	background: #A55;
}
.disabled img, .disabled button {
	opacity: 0.3;
}
#genlst, #loadlst {
	width: 40em;
	margin: 1em 0 1em 0;
}
small {
	font-size: 0.75em;
}
fieldset {
	display: inline-block;
}
